@model IEnumerable<JattanaNursury.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h2 class="text-center">
            All Categories
        </h2>
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <div class="col-12 d-flex justify-content-end">
            <a class="btn primary-btn" asp-action="Create" asp-controller="Categories" >Add New</a>
        </div>
    }
    <div class="col-12 mt-4">
        <div id="home-cards" class="row">
            @foreach (var item in Model)
            {
                <div class="home col-sm-12 col-md-3">
                    <div class="home-content">
                        <p class="home-title">@Html.DisplayFor(modelItem => item.Name)</p>
                        <ul class="home-list">
                            <li class="home-attri">
                                <i class="fa fa-comment"></i>
                                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                            </li>
                            <li class="home-attri">
                                <i class="fa fa-bars"></i>
                                @{
                                    var date = item.CreatedDate.ToString("MMM dd yyyy");
                                                                                                <span>@date</span>
                                }
                            </li>
                        </ul>
                        <div class="row justify-content-around mt-3">
                            <a class="col-3 btn link-card secondary-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="col-3 btn link-card red-btn" data-bs-toggle="modal" onclick="deleteBtnClicked(this)" data-id="@item.Id" data-bs-target="#deleteModel">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModelLabel">Delete Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deleting category will result in deleting all related products, Are you 100% sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a class="col-3 btn link-card red-btn" style="width:10rem;" onclick="deleteItem()">Yes I am sure!</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/general.js" asp-append-version="true"></script>
    <script type="text/javascript">
        const url = "@Url.Action("Delete","Categories")";
        $(function () {
            window.initialize(url);
        });
    </script>
}
