@model IEnumerable<JattanaNursury.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h2 class="text-center">
            All Products
        </h2>
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <div class="col-12 d-flex justify-content-end">
            <a class="btn btn-success" asp-action="Create" asp-controller="Products" >Add New</a>
        </div>
    }
    <div class="col-12 mt-4">
        <div id="home-cards" class="row">
            @foreach (var item in Model)
            {
                <div class="home col-sm-12 col-md-3">
                    <div class="div-img">
                        <img src="~/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Product Image">
                    </div>
                    <div class="home-content">
                        <p class="home-title">@Html.DisplayFor(modelItem => item.Name)</p>
                        <ul class="home-list">
                            <li class="home-attri">
                                <i class="fa fa-comment"></i>
                                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                            </li>
                            <li class="home-attri">
                                <i class="fa fa-bars"></i>
                                <span>@Html.DisplayFor(modelItem => item.Category.Name)</span>
                            </li>
                            <li class="home-attri">
                                <i class="fa fa-warehouse"></i>
                                <span>@Html.DisplayFor(modelItem => item.Quantity)</span>
                            </li>
                            <li class="home-attri">
                                <i class="fa fa-money-bill"></i>
                                <span>Price: @Html.DisplayFor(modelItem => item.UnitPrice)/ Unit</span>
                            </li>
                            <li class="home-attri">
                                <i class="fa fa-user"></i>
                                <span>Selling Price: @Html.DisplayFor(modelItem => item.SellingPrice)</span>
                            </li>
                        </ul>
                        <div class="row justify-content-around">

                            <a class="col-3 btn link-card btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="col-3 btn link-card btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
