@model ECommerce.ViewModels.BusinessViewModel

@{
    ViewData["Title"] = "Business";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
}

<div class="container">
    <h1 class="text-primary text-center fs-1">@Model.Name</h1>
    <div class="row g-5">
        <div class="col-md-6 col-sm-12">
            <img class="img-full" src="~/@Html.DisplayFor(a=>a.ImageUrl)"/>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="d-flex flex-column justify-content-evenly h-100">
                <h3 class="text-primary">@Model.Description</h3>
                <div>
                    <ul class="home-list">
                        <li class="home-attri">
                            <i class="fa fa-comment"></i>
                            <span>@Html.DisplayFor(a=>a.Address.FullAddress)</span>
                        </li>
                        <li class="home-attri">
                            <i class="fa fa-bars"></i>
                            <span>@Html.DisplayFor(a=>a.TotalProducts)</span>
                        </li>
                        <li class="home-attri">
                            <i class="fa fa-warehouse"></i>
                            <span>Employees: @Html.DisplayFor(modelItem => modelItem.TotalEmployees)</span>
                        </li>
                        <li class="home-attri">
                            <i class="fa fa-money-bill"></i>
                            <span>Products: @Html.DisplayFor(modelItem => modelItem.TotalOrders)</span>
                        </li>
                        <li class="home-attri">
                            <i class="fa fa-user"></i>
                            <span>Orders: @Html.DisplayFor(modelItem => modelItem.TotalCategories)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
